<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<stream>

<item>
<title>[COLOR blue] SBTN - [/COLOR] [COLOR FF00FF00] California [/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/sbtnofficial/uploads?start-index=1&max-results=50</link>
<thumbnail>sbtn.png</thumbnail>
</item>

<item>
<title>[COLOR blue] SBTN - [/COLOR] [COLOR FF00FFFF] Canada[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/thoibaocanada/uploads?start-index=1&max-results=50</link>
<thumbnail>sbtncanada.png</thumbnail>
</item>

<item>
<title>[COLOR blue] SBTN - [/COLOR] [COLOR red] Úc Châu[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/SBTNAUS/uploads?start-index=1&max-results=50</link>
<thumbnail>sbtnucchau.png</thumbnail>
</item>

<item>
<title>[COLOR FF00FFFF] Người Việt TV[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/NguoiVietOnline/uploads?start-index=1&max-results=50</link>
<thumbnail>nguoiviet.png</thumbnail>
</item>

<item>
<title>[COLOR purple] Phố Bolsa[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/PhoBolsaTV/uploads?start-index=1&max-results=50</link>
<thumbnail>phobolsatv.png</thumbnail>
</item>

<item>
<title>[COLOR FF00FFFF] Vietweekly[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/vietweeklytube/uploads?start-index=1&max-results=50</link>
<thumbnail>vietweekly.jpg</thumbnail>
</item>

<item>
<title>[COLOR green] KBCHN[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/thacmac52/uploads?start-index=1&max-results=50</link>
<thumbnail>kbchn.jpg</thumbnail>
</item>


<item>
<title>[COLOR blue]VATVONLINE[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/VATVONLINE/uploads?start-index=1&max-results=50</link>
<thumbnail>vatv.png</thumbnail>
</item>

<item>
<title>[COLOR FF00FFFF]LSTV Network[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/LSTVNETWORK/uploads?start-index=1&max-results=50</link>
<thumbnail>lstv.png</thumbnail>
</item>

<item>
<title>[COLOR ffff8c00]Viet News TV[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/vietnewstelevision/uploads?start-index=1&max-results=50</link>
<thumbnail>vietnewstv.png</thumbnail>
</item>

<item>
<title>[COLOR red]Van TV Houston[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/UCj-SnkM-BNrsgsEM52TvmVw/uploads?start-index=1&max-results=50</link>
<thumbnail>vza.png</thumbnail>
</item>

<item>
<title>[COLOR yellow] VOA - Đài Tiếng Nói Hoa Kỳ[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/VOATiengVietVideo/uploads?start-index=1&max-results=50</link>
<thumbnail>voa.png</thumbnail>
</item>

<item>
<title>[COLOR red] BBC Tiếng Việt[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/BBCVietnamese/uploads?start-index=1&max-results=50</link>
<thumbnail>bbc.png</thumbnail>
</item>

<item>
<title>[COLOR FF00FF00] RFA - Đài Á Châu Tự Do[/COLOR]</title>
<link>http://gdata.youtube.com/feeds/api/users/RFAVietnamese/uploads?start-index=1&max-results=50</link>
<thumbnail>rfa.png</thumbnail>
</item>

<item>
<title>Bước Chân Hai Thế Hệ</title>
<link>http://gdata.youtube.com/feeds/api/users/buocchanhaithehe/uploads?start-index=1&max-results=50</link>
<thumbnail>buocchan.jpg</thumbnail>
</item>

<item>
<title>Zing MP3</title>
<link>http://gdata.youtube.com/feeds/api/users/ZingMp3Official/uploads?start-index=1&max-results=50</link>
<thumbnail>zing.jpg</thumbnail>
</item>



<item>
<title>Tinh Tế reviews</title>
<link>http://gdata.youtube.com/feeds/api/users/tinhtevideo/uploads?start-index=1&max-results=50</link>
<thumbnail>tinhte.jpg</thumbnail>
</item>



</stream>

